/* Reseteo márgenes browser y color body */
/*font-family: 'Didact Gothic', sans-serif;*/
/*color: #1DA1F2;*/

body {
	margin: 0 auto;
	background-color: #E6ECF0;
	font-family: 'Didact Gothic', sans-serif;
	color: #000;
	font-size: 14px;
}

header {
	background-color: #FFF;
	height: 60px;
	width: 100%;
	border-bottom: 2px solid #C9CED2;
	position: fixed;
}

header nav {
	float: left;
}

header ul {
	margin: 0 auto;
}

header li {
	float: left;
	padding: 0 10px;
	list-style: none;
	line-height: 60px;
	margin-top: 0;
}

header li:hover {
	border-bottom: 2px solid #1DA1F2;
}

header li a {
	color: #6B696C;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

header li:hover > a {
	color: #1DA1F2;
}

header li .fa {
	font-size: 19px;
	margin-right: 5px;
}

header .fa-twitter {
	font-size: 35px;
	color: #00CDFF;
	float: left;
	margin-left: 13%;
	margin-top: 10px;
}

header a #twitter-logo {
	background-image: url(../img/Twitter-logo.png);
	background-size: cover;
	width: 129px;
	height: 35px;
	z-index: 100;
	margin: 0 auto;
	margin-top: 5px;
	position: relative;
}

.reto-codigo {
	height: 225px;
	width: 40%;
	background-color: #fff;
	border-radius: 5px;
	text-align: left;
	margin-top: 70px;
	width: 40%;
	float: left;
	margin-left: 9%;
}

.reto-codigo #my-picture {
	background-image: url(../img/joli.jpg);
	background-size: cover;
	border-radius: 5px;
	width: 180px;
	height: 200px;
	z-index: 1000;
	margin-left: 3%;
	margin-top: 12px;
	float: left;
}

.reto-codigo .container {
	margin-top: 40px;
}

.reto-codigo .container h3 {
	display: inline;
	margin-left: 3%;
	margin-top: 12px;
	position: relative;
}

.reto-codigo .container p {
	line-height: 20px;
	margin-right: 3%;
	margin-top: 15px;
	width: 55%;
	float: right;
}

.reto-codigo .container p a {
	color: #1DA1F2;
	font-weight: bold;
	text-decoration: none;
}

.center {
	background-color: #fff;
	border-radius: 5px;
	text-align: left;
	margin-top: 70px;
	margin-left: 2%;
	width: 40%;
	height: 220px auto;
	float: left;
}

.center .container {
	border-radius: 5px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 10px;
}

.center > #comment {
	height: auto;
	resize: vertical;
}

.center .container #comment {
	width: 98%;
	min-height: 120px;
	color: #4E4D53;
	font-size: 14px;
	padding-top: 10px;
	border-radius: 5px;
	border: none;
	margin: 0 auto;
	resize: vertical;
	flex-direction: column;
}

.center hr {
	border: 1.5px solid #1DA1F2;
	background-color: #1DA1F2;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* Estilos botón agregar */
#btn {
	background-color: #1DA1F2;
	border: 0px;
	border-radius: 7px;
	cursor: pointer;
	text-align: center;
	margin:  auto;
	line-height: 35px;
	width: 100px;
	display: block;
	color: #FFF;
	float: left;
	margin-top: 0px;
	margin-bottom: 15px;
}

#btn:focus, textarea:focus{
	outline: none;
}

#counter-characters {
	color: #1DA1F2;
	font-weight: bold;
	font-size: 16px;
	float: right;
	margin-top: 15px;
}

/* Estilos contenedor comentarios */
 #cont {
	width: 90%;
	color: #4E4D53;
	text-align: left;
	display: block;
	float: left;
	margin-left: 5%;
	margin-top: 20px;
}

#cont div {
	padding: 20px 10px;
	margin-bottom: 30px;
	outline: 1.5px solid #E5E3F2;
	background-color: #FFF;
	border-radius: 5px;
}

#cont #time {
	padding: 20px 10px;
	margin-bottom: 30px;
	color: black;
}

p {
	display: inline-block;
	margin-left: 10px;
}
